.searchInput{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    
}
span{
    position: absolute;
    margin-left: 5px;
    height: 25px;
    display: flex;
    align-items: center;
  }
  input{
    padding-left: 25px;
    padding-right: 25px;
    height: 30px;
    width: 100%;
  }
 