<body>
  <div class="adictiz">
    <a  id="adictiz_logo"><img src="https://www.adictiz.com/hs-fs/hubfs/Logos/logo-Adictiz-main-menu.png?width=130&name=logo-Adictiz-main-menu.png" alt=""/></a>
  
 
  <div class="form">  
    <form>
      <label for="form-search"></label>
      <input #keyword type="text" placeholder="" id="keyword"  > 
    </form>
   
  </div>  

  <div class= "buttons">  
    <input (click)="search(keyword.value)" type="submit" value="adictiz Search"  id="adictiz_search">
  </div> 
</div>
</body>